<c-card class="mb-4" >
    <c-card-header>
      <strong>Cadastrar Usuário</strong>
    </c-card-header>
    <c-card-body>
        
        <mat-form-field class="matFormInput" appearance="outline">
            <mat-label>Digite o Nome</mat-label>
            <input type="text" [(ngModel)]="register.name" matInput placeholder="Nome">
            <mat-icon matPrefix>person</mat-icon>
            <mat-hint *ngIf="hintNameError">Campo Inválido!</mat-hint>
        </mat-form-field>


        <mat-form-field class="matFormInput" appearance="outline" >
            <mat-label>Digite o Email</mat-label>
            <input type="email" [(ngModel)]="register.email" matInput placeholder="Email" autoComplete='off'>
            <mat-icon matPrefix>email</mat-icon>
            <mat-hint *ngIf="hintEmailError">Campo Inválido!</mat-hint>
        </mat-form-field>


        <mat-form-field class="matFormInput" appearance="outline">
            <mat-label>Digite sua Senha</mat-label>
            <input type="password" [(ngModel)]="register.password" matInput placeholder="Senha" autocomplete="new-password">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-hint *ngIf="hintPasswordError">Campo Inválido!</mat-hint>
        </mat-form-field>


        <mat-form-field class="matFormInput" appearance="outline">
            <mat-label>Confirme sua Senha</mat-label>
            <input type="password" [(ngModel)]="confirmPassword" matInput placeholder="Confirmação" >
            <mat-icon matPrefix>password</mat-icon>
            <mat-hint *ngIf="hintConfirmError" >{{confirmHint}}</mat-hint>
        </mat-form-field>

        <select [(ngModel)]="register.role" class="form-select" aria-label="Selecione o Posto">
            <option value="0" selected>Operador</option>
            <option value="1" >Gerente</option>
        </select>

        <button type="button" class="btn btn-success" (click)="registerWorkers()" >Cadastrar</button>

    </c-card-body>
</c-card>