
@media screen and (min-width: 950px) { 
    c-card{
        width: 50%;
        margin-left: 5%;
    }
}

p {
    margin: 0%;
    padding: 0%;
    color: red;
    font-size: small;
    margin-left: 8%;
}

.matFormInput{
    display: block;
    width: auto;
    margin-left: 5%;
    margin-bottom: 28px;
    margin-top: 15px;
    max-height: 50px;
    width: 90%;
    margin-right: 12px;
    mat-icon {
        margin-right: 5px;
    }
    mat-hint {
        color: red;
    }
}

button{
    display: block;
    width: auto;
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}

select {
    display: flexbox;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}