<c-card class="mb-4 " >
    <c-card-header>
      <strong>Criar Pedido</strong>
    </c-card-header>
    <c-card-body>

        <select [(ngModel)]="user_id" class="form-select" aria-label="Selecione o Operador">
            <option value="" selected>Selecione o Operador</option>
            <option *ngFor="let item of workers; let i=index" [value]="item.id">{{item.email}}</option>
        </select>
        <p *ngIf="hintUserIdError">Escolha um Operador!</p>

        <mat-form-field class="matFormInput " appearance="outline">
            <mat-label>Codigo da Nota Fiscal</mat-label>
            <input [(ngModel)]="code_nf" type="number" matInput placeholder="Nota Fiscal">
            <mat-icon matPrefix>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 24 24">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                </svg>
            </mat-icon>
            <mat-hint *ngIf="hintCodeNfError">Campo Inválido!</mat-hint>
        </mat-form-field>

        <mat-form-field class="matFormInput date" appearance="outline" >
            <mat-label>Data</mat-label>
            <input [(ngModel)]="dateOrder" type="date" matInput placeholder="Data" >
            <mat-icon matPrefix>event_note</mat-icon>
            <mat-hint *ngIf="hintDateError">Data Inválido!</mat-hint>
        </mat-form-field>

        <button type="button" class="btn btn-success" (click)="createOrder()">Criar</button>

    </c-card-body>
</c-card>